body {
  margin: 0;
  font-size:1.5rem;
}

.c1 {
  color: #F05454;
}

.c2 {
  color: #DDDDDD;
}

.textcenter{
  text-align: center;
}

h1 {
  margin: 0 auto;
  font-size: 3.75rem;
  font-family: 'Russo One', sans-serif;
}

h4 {
  margin: 0 auto;
  font-size: 1.87rem;
  font-family: 'Varela Round', sans-serif;
}

p {
  font-weight: normal;
  margin: 0 auto;
  font-family: 'Varela Round', sans-serif;
}

.BG_PC {
  position: absolute;
  width: 120rem;
  height: 67.5rem;
}

.navbar{
  position: absolute;
}

.Logo {
  width: 9.37rem;
  height: 9.37rem;
  /* position: absolute;
  left: 90%;
  top: 50px; */
}

.NamePlate {
  width: 50rem;
  height: 25rem;
  position: absolute;
  left: 850px;
  top: 400px;
}
